.heroWrapper {
	background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
	border-bottom: rem(1px) solid var(--mantine-color-gray-2);
	padding: calc(5 * var(--mantine-spacing-xl)) var(--mantine-spacing-xl);
	text-align: center;
}

.title {
	font-weight: 900;
	font-size: rem(80px);
	letter-spacing: -2px;
	line-height: 1;

	@media (max-width: $mantine-breakpoint-md) {
		font-size: rem(54px);
		letter-spacing: -1px;
	}

	@media (max-width: $mantine-breakpoint-sm) {
		font-size: rem(36px);
		letter-spacing: -0.5px;
	}
}

.subtitle {
	font-weight: 300;
	font-size: rem(22px);
	text-transform: uppercase;
	letter-spacing: 8px;
	color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-3));

	@media (max-width: $mantine-breakpoint-sm) {
		font-size: rem(14px);
		letter-spacing: 4px;
	}
}

.description {
	max-width: 480px;
	margin: 0 auto;
}
